---
import { Icon } from "astro-icon"

import Layout from "@/layouts/Layout.astro"
import Eyecatch from "@/components/Eyecatch.astro"
import { getAllArticles } from "@/lib/client"

const articlesApiData = await getAllArticles()
---

<Layout>
  <main>
    <h2 class="text-2xl font-bold mb-4">記事一覧</h2>
    <div class="flex flex-row flex-wrap gap-6 justify-around">
      {
        articlesApiData.contents.map((content) => (
          <div class="card w-72">
            <a href={"/archive/" + content.id}>
              <Eyecatch image={content.eyecatch?.url} />
              <div class="p-5">
                <div class="mb-2 text-xl font-bold tracking-tight">
                  {content.title}
                </div>
                <div class="flex flex-row items-center">
                  <Icon name="mdi:clock-outline" />
                  {content.publishedAt?.split("T")[0] || ""}
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
