---
import { Image } from "astro:assets"
import { Icon } from "astro-icon"

import Layout from "@/layouts/Layout.astro"
import { getAllArticles } from "@/lib/client"

const articlesApiData = await getAllArticles({ limit: 3 })
---

<style>
  [astro-icon="mdi:clock-outline"] {
    height: 16px;
    width: 16px;
  }
</style>

<Layout>
  <main>
    <h2 class="text-2xl font-bold mb-4">新着記事</h2>
    <div
      class="flex flex-row flex-wrap gap-6 justify-between max-[1304px]:justify-around"
    >
      {
        articlesApiData.contents.map((content) => (
          <div class="card w-72">
            <a href={"/archive/" + content.id}>
              <Image
                src={content.eyecatch.url}
                alt="サムネイル"
                width="320"
                height="180"
                class="rounded-t-lg object-cover h-32 w-96"
              />
              <div class="p-5">
                <div class="mb-2 text-xl font-bold tracking-tight">
                  {content.title}
                </div>
                <div class="flex flex-row items-center">
                  <Icon name="mdi:clock-outline" />
                  {content.publishedAt?.split("T")[0] || ""}
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>

    <h2 class="text-2xl font-bold my-4">人気記事</h2>
    <div
      class="flex flex-row flex-wrap gap-6 justify-start max-md:justify-around"
    >
      開発中
    </div>
  </main>
</Layout>
