---
import Layout from "@/layouts/Layout.astro"
import Ad from "@/components/Ad.astro"
import { getAllArticles } from "@/lib/client"
import ArticleCard from "@/components/ArticleCard.astro"

const latestArticles = await getAllArticles({
  limit: 3,
  fields: ["id", "eyecatch", "title", "publishedAt", "categories"],
  orders: "-publishedAt",
})

const pickUpArticles = await getAllArticles({
  fields: ["id", "eyecatch", "title", "publishedAt", "categories"],
  // ピックアップしたい記事のIDをハードコーディング
  ids: "usage-own-latex-style,kusodeka-paren,daily-necessities-recommend-list",
})
---

<Layout>
  <main>
    <h2 class="text-2xl font-bold mb-4">LATEST</h2>
    <div
      class="flex flex-row flex-wrap gap-6 justify-between max-[1304px]:justify-around"
    >
      {
        latestArticles.contents.map((content) => (
          <ArticleCard content={content} />
        ))
      }
    </div>
    <Ad />

    <h2 class="text-2xl font-bold my-4">PICK UP</h2>
    <div
      class="flex flex-row flex-wrap gap-6 justify-between max-[1304px]:justify-around"
    >
      {
        pickUpArticles.contents.map((content) => (
          <ArticleCard content={content} />
        ))
      }
    </div>
  </main>
</Layout>
