---
import Layout from "@/layouts/Layout.astro"
import Ad from "@/components/Ad.astro"
import { getAllArticles } from "@/lib/client"
import ArticleCard from "@/components/ArticleCard.astro"

const articlesApiData = await getAllArticles({
  limit: 3,
  fields: ["id", "eyecatch", "title", "publishedAt", "categories"],
  orders: "-publishedAt",
})
---

<Layout>
  <main>
    <h2 class="text-2xl font-bold mb-4">新着記事</h2>
    <div
      class="flex flex-row flex-wrap gap-6 justify-between max-[1304px]:justify-around"
    >
      {
        articlesApiData.contents.map((content) => (
          <ArticleCard content={content} />
        ))
      }
    </div>
    <Ad />

    <h2 class="text-2xl font-bold my-4">人気記事</h2>
    <div
      class="flex flex-row flex-wrap gap-6 justify-start max-md:justify-around"
    >
      開発中
    </div>
  </main>
</Layout>
