---
import Layout from "@/layouts/Layout.astro"
import SearchBox from "@/components/SearchBox.astro"

const title = "検索"
---

<Layout pageName={title}>
  <main>
    <article>
      <SearchBox />
    </article>
  </main>
</Layout>
