---
import Eyecatch from "./Eyecatch.astro"
import type { ArticleApiSchema } from "@/types/api"

interface Props {
  content: ArticleApiSchema
}

const { content } = Astro.props
---

<div class="card w-72">
  <a class="card-link" href={"/archive/" + content.id}>
    <Eyecatch id={content.id} />
  </a>
  <div class="card-text p-4">
    <div class="text-sm mb-2">
      {content.publishedAt?.split("T")[0] || ""}
    </div>
    <ul class="flex flex-wrap gap-2">
      {
        content.categories?.map((cat) => (
          <li>
            <a
              href={`/categories/${cat.id}/1`}
              class="text-xs text-indigo-500 border border-indigo-500 rounded-md hover:bg-indigo-50 px-2 py-1"
            >
              {cat.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
